/* Specific styles */
.background-color {
    background: #d4a9c8;
}

h1 {
    color: hotpink;
}

button {
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
}
button:hover {
    background: hotpink;
    color: #FFFF;
}

/* Reusable styles */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}


