/* Specific styles */
body {
    background: #d4a9c8;
    margin: auto;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #FFFF;
}

a {
    text-decoration: none;
}

h1 {
    color: #007A6B;
}

button {
    width: 8rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: none;
    background: #EBE0D0;
}

button:hover {
    background: hotpink;
    color: #FFFF;
}

nav {
    height: 3rem;
}


/* Reusable styles */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-evenly {
    justify-content: space-evenly;
}

.m-4 {
    margin: 4rem;
}

.full-height {
    height: 100%;
}


